In [29]:
import pandas as pd
import geopandas as gpd

df = pd.read_csv('assessment_2024.csv', dtype='str')
df

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,UNIT_NUM,CITY,ZIP_CODE,BLDG_SEQ,NUM_BLDGS,...,KITCHEN_STYLE2,KITCHEN_STYLE3,HEAT_TYPE,HEAT_SYSTEM,AC_TYPE,FIREPLACES,ORIENTATION,NUM_PARKING,PROP_VIEW,CORNER_UNIT
0,0100001000,NaN,0100001000,104,PUTNAM ST,NaN,EAST BOSTON,02128,1,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,3,A - Average,NaN
1,0100002000,NaN,0100002000,197,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,M - Modern,M - Modern,F - Forced Hot Air,NaN,C - Central AC,0,NaN,0,A - Average,NaN
2,0100003000,NaN,0100003000,199,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,S - Semi-Modern,S - Semi-Modern,S - Space Heat,NaN,N - None,0,NaN,0,A - Average,NaN
3,0100004000,NaN,0100004000,201,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
4,0100005000,NaN,0100005000,203,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,N - No Remodeling,NaN,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182237,2205666000,NaN,2205666000,NaN,KNOWLES ST,NaN,BRIGHTON,02135,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182238,2205667000,NaN,2205667000,NaN,Lake ST,NaN,BRIGHTON,02135,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182239,2205668000,NaN,2205668000,4,Lake ST,NaN,BRIGHTON,02135,1,1,...,M - Modern,M - Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,2,A - Average,NaN
182240,2205669000,NaN,2205669000,2193,COMMONWEALTH AV,NaN,BRIGHTON,02135,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182241,2205670000,NaN,2205670000,2203,COMMONWEALTH AV,NaN,BRIGHTON,02135,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
geo_df = gpd.read_file("parcels_2023.geojson")
geo_df

,OBJECTID,MAP_PAR_ID,LOC_ID,POLY_TYPE,MAP_NO,SOURCE,PLAN_ID,LAST_EDIT,BND_CHK,NO_MATCH,...,Shape_STArea__,Shape_STLength__,GlobalID,created_user,created_date,last_edited_user,last_edited_date,ShapeSTArea,ShapeSTLength,geometry
0,1,0107062500,F_799998_2955292,FEE,1,ASSESS,None,20191107,None,N,...,5.217380e+04,1420.659362,{D7F8B8A1-041A-4E4E-851B-059780D9B2F1},None,None,None,None,5.217380e+04,1420.659362,"POLYGON ((-70.96691 42.35714, -70.96698 42.357..."
1,2,0107069000,F_810842_2942136,FEE,1,ASSESS,None,20191107,None,N,...,1.700132e+06,5663.985895,{E043B286-B669-4E39-A61D-8F34815572D8},None,None,None,None,1.700132e+06,5663.985895,"POLYGON ((-70.92565 42.31984, -70.92580 42.320..."
2,3,0107073100,F_794811_2942749,FEE,1,ASSESS,None,20191107,None,N,...,2.384763e+04,630.899280,{D5EB19F3-9214-44EB-8545-D634FE146017},None,None,None,None,2.384763e+04,630.899280,"POLYGON ((-70.98707 42.32212, -70.98754 42.322..."
3,4,0107071000,F_794865_2944326,FEE,1,ASSESS,None,20191107,None,N,...,2.042029e+06,6104.038098,{E09AE4E0-FE99-415D-8DF0-D181F0190342},None,None,None,None,2.042029e+06,6104.038098,"POLYGON ((-70.98517 42.32812, -70.98530 42.328..."
4,5,0107073000,F_795068_2942368,FEE,1,ASSESS,None,20191107,None,N,...,5.066375e+05,2891.186046,{DA924B48-CD59-49E0-8711-58DB44A4BFF7},None,None,None,None,5.066375e+05,2891.186046,"POLYGON ((-70.98584 42.31985, -70.98559 42.320..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98959,98960,1601547000,F_773780_2930427,FEE,16,ASSESS,None,20221025,None,N,...,5.486376e+03,306.111174,{48F835B2-D3EB-41E5-935F-217DA384C6A5},None,None,None,None,5.486376e+03,306.111174,"POLYGON ((-71.06525 42.28855, -71.06551 42.288..."
98960,98961,MASSGIS,F_771306_2939623,ROW,8,ASSESS,None,20221108,None,N,...,3.275967e+06,155244.021482,{1DF556E8-ADB7-4E6E-8D83-3CE1E2A9149D},None,None,None,None,3.275967e+06,155244.021482,"POLYGON ((-71.07217 42.32550, -71.07223 42.325..."
98961,98962,MASSGIS,F_773100_2961462,ROW,2,ASSESS,None,20221108,NR,N,...,2.264902e+06,74182.058684,{800A5DF9-D362-4756-AF47-B4724A84E3E6},None,None,None,None,2.264902e+06,74182.058684,"POLYGON ((-71.06439 42.37772, -71.06431 42.377..."
98962,98963,2008964000,F_743744_2930281,FEE,20,ASSESS,None,20221108,None,N,...,6.521806e+06,18145.852385,{0AE8466B-A8DA-448A-B08E-BBF60EA4F4A3},None,None,None,None,6.521806e+06,18145.852385,"POLYGON ((-71.17402 42.29117, -71.17408 42.291..."
98963,98964,MASSGIS,F_766415_2946431,ROW,9,ASSESS,None,20221130,NR,N,...,7.215632e+03,443.636194,{41DCEEFF-09BE-4E69-84E7-8C17D0A0542E},None,None,None,None,7.215632e+03,443.636194,"POLYGON ((-71.09252 42.33261, -71.09212 42.332..."

In [20]:
geo_df["lon"] = geo_df["geometry"].centroid.x
geo_df["lat"] = geo_df["geometry"].centroid.y
geo_df

/var/folders/0r/gs0ch5nn3fzcwqj_9c2f99v40000gn/T/ipykernel_29891/3460156936.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geo_df["lon"] = geo_df["geometry"].centroid.x
/var/folders/0r/gs0ch5nn3fzcwqj_9c2f99v40000gn/T/ipykernel_29891/3460156936.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  geo_df["lat"] = geo_df["geometry"].centroid.y

,OBJECTID,MAP_PAR_ID,LOC_ID,POLY_TYPE,MAP_NO,SOURCE,PLAN_ID,LAST_EDIT,BND_CHK,NO_MATCH,...,GlobalID,created_user,created_date,last_edited_user,last_edited_date,ShapeSTArea,ShapeSTLength,geometry,lon,lat
0,1,0107062500,F_799998_2955292,FEE,1,ASSESS,None,20191107,None,N,...,{D7F8B8A1-041A-4E4E-851B-059780D9B2F1},None,None,None,None,5.217380e+04,1420.659362,"POLYGON ((-70.96691 42.35714, -70.96698 42.357...",-70.967858,42.356251
1,2,0107069000,F_810842_2942136,FEE,1,ASSESS,None,20191107,None,N,...,{E043B286-B669-4E39-A61D-8F34815572D8},None,None,None,None,1.700132e+06,5663.985895,"POLYGON ((-70.92565 42.31984, -70.92580 42.320...",-70.928068,42.319956
2,3,0107073100,F_794811_2942749,FEE,1,ASSESS,None,20191107,None,N,...,{D5EB19F3-9214-44EB-8545-D634FE146017},None,None,None,None,2.384763e+04,630.899280,"POLYGON ((-70.98707 42.32212, -70.98754 42.322...",-70.987330,42.321919
3,4,0107071000,F_794865_2944326,FEE,1,ASSESS,None,20191107,None,N,...,{E09AE4E0-FE99-415D-8DF0-D181F0190342},None,None,None,None,2.042029e+06,6104.038098,"POLYGON ((-70.98517 42.32812, -70.98530 42.328...",-70.987092,42.326246
4,5,0107073000,F_795068_2942368,FEE,1,ASSESS,None,20191107,None,N,...,{DA924B48-CD59-49E0-8711-58DB44A4BFF7},None,None,None,None,5.066375e+05,2891.186046,"POLYGON ((-70.98584 42.31985, -70.98559 42.320...",-70.986388,42.320871
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98959,98960,1601547000,F_773780_2930427,FEE,16,ASSESS,None,20221025,None,N,...,{48F835B2-D3EB-41E5-935F-217DA384C6A5},None,None,None,None,5.486376e+03,306.111174,"POLYGON ((-71.06525 42.28855, -71.06551 42.288...",-71.065326,42.288427
98960,98961,MASSGIS,F_771306_2939623,ROW,8,ASSESS,None,20221108,None,N,...,{1DF556E8-ADB7-4E6E-8D83-3CE1E2A9149D},None,None,None,None,3.275967e+06,155244.021482,"POLYGON ((-71.07217 42.32550, -71.07223 42.325...",-71.074099,42.318857
98961,98962,MASSGIS,F_773100_2961462,ROW,2,ASSESS,None,20221108,NR,N,...,{800A5DF9-D362-4756-AF47-B4724A84E3E6},None,None,None,None,2.264902e+06,74182.058684,"POLYGON ((-71.06439 42.37772, -71.06431 42.377...",-71.063330,42.373742
98962,98963,2008964000,F_743744_2930281,FEE,20,ASSESS,None,20221108,None,N,...,{0AE8466B-A8DA-448A-B08E-BBF60EA4F4A3},None,None,None,None,6.521806e+06,18145.852385,"POLYGON ((-71.17402 42.29117, -71.17408 42.291...",-71.180423,42.286983
98963,98964,MASSGIS,F_766415_2946431,ROW,9,ASSESS,None,20221130,NR,N,...,{41DCEEFF-09BE-4E69-84E7-8C17D0A0542E},None,None,None,None,7.215632e+03,443.636194,"POLYGON ((-71.09252 42.33261, -71.09212 42.332...",-71.092264,42.332442

In [21]:
len(df['GIS_ID'].unique())

98531

In [22]:
geo_df['MAP_PAR_ID'] = geo_df['MAP_PAR_ID'].astype(str)

In [23]:
len(geo_df['MAP_PAR_ID'].unique())

98645

In [28]:
df

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,UNIT_NUM,CITY,ZIP_CODE,BLDG_SEQ,NUM_BLDGS,...,KITCHEN_STYLE2,KITCHEN_STYLE3,HEAT_TYPE,HEAT_SYSTEM,AC_TYPE,FIREPLACES,ORIENTATION,NUM_PARKING,PROP_VIEW,CORNER_UNIT
0,0100001000,NaN,0100001000,104,PUTNAM ST,NaN,EAST BOSTON,02128,1,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,3,A - Average,NaN
1,0100002000,NaN,0100002000,197,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,M - Modern,M - Modern,F - Forced Hot Air,NaN,C - Central AC,0,NaN,0,A - Average,NaN
2,0100003000,NaN,0100003000,199,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,S - Semi-Modern,S - Semi-Modern,S - Space Heat,NaN,N - None,0,NaN,0,A - Average,NaN
3,0100004000,NaN,0100004000,201,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,S - Semi-Modern,S - Semi-Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
4,0100005000,NaN,0100005000,203,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,N - No Remodeling,NaN,W - Ht Water/Steam,NaN,N - None,0,NaN,0,A - Average,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182237,2205666000,NaN,2205666000,NaN,KNOWLES ST,NaN,BRIGHTON,02135,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182238,2205667000,NaN,2205667000,NaN,Lake ST,NaN,BRIGHTON,02135,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182239,2205668000,NaN,2205668000,4,Lake ST,NaN,BRIGHTON,02135,1,1,...,M - Modern,M - Modern,W - Ht Water/Steam,NaN,N - None,0,NaN,2,A - Average,NaN
182240,2205669000,NaN,2205669000,2193,COMMONWEALTH AV,NaN,BRIGHTON,02135,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182241,2205670000,NaN,2205670000,2203,COMMONWEALTH AV,NaN,BRIGHTON,02135,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
merged_df = pd.merge(df, geo_df, how='inner', left_on='GIS_ID', right_on='MAP_PAR_ID')
merged_df

,PID,CM_ID,GIS_ID,ST_NUM,ST_NAME,UNIT_NUM,CITY,ZIP_CODE,BLDG_SEQ,NUM_BLDGS,...,GlobalID,created_user,created_date,last_edited_user,last_edited_date,ShapeSTArea,ShapeSTLength,geometry,lon,lat
0,0100001000,NaN,0100001000,104,PUTNAM ST,NaN,EAST BOSTON,02128,1,1,...,{2EAAD338-3932-4061-8377-D82FF54855EC},None,None,None,None,1233.852009,159.437704,"POLYGON ((-71.03250 42.37934, -71.03260 42.379...",-71.032588,42.379394
1,0100002000,NaN,0100002000,197,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,{04EAF9DF-FDB9-46D0-9835-405AA670C58A},None,None,None,None,1161.425481,156.663724,"POLYGON ((-71.03244 42.37936, -71.03254 42.379...",-71.032522,42.379421
2,0100003000,NaN,0100003000,199,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,{6E8085A3-C649-492F-A1A4-1191B10814F0},None,None,None,None,1145.417354,155.808300,"POLYGON ((-71.03237 42.37939, -71.03247 42.379...",-71.032456,42.379445
3,0100004000,NaN,0100004000,201,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,{C78831B0-5433-445B-B952-5B7DA7AC24B5},None,None,None,None,1192.603339,157.151280,"POLYGON ((-71.03231 42.37941, -71.03240 42.379...",-71.032391,42.379471
4,0100005000,NaN,0100005000,203,Lexington ST,NaN,EAST BOSTON,02128,1,1,...,{755E0765-B381-4815-AFF2-279B5D82E881},None,None,None,None,2154.170232,247.978583,"POLYGON ((-71.03216 42.37933, -71.03234 42.379...",-71.032283,42.379438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182053,2205666000,NaN,2205666000,NaN,KNOWLES ST,NaN,BRIGHTON,02135,1,1,...,{9A39DD7F-CD85-45EC-B84A-D0F568BD8126},None,None,None,None,5789.111832,331.873739,"POLYGON ((-71.16652 42.34103, -71.16670 42.341...",-71.166620,42.340884
182054,2205667000,NaN,2205667000,NaN,Lake ST,NaN,BRIGHTON,02135,1,1,...,{F9FF558A-EABF-450B-9CEB-A3AB1B39D3EB},None,None,None,None,4133.070308,275.274829,"POLYGON ((-71.16657 42.34065, -71.16674 42.340...",-71.166669,42.340527
182055,2205668000,NaN,2205668000,4,Lake ST,NaN,BRIGHTON,02135,1,1,...,{31BA3C14-DF2C-4F6C-8A66-2362E11DB6F8},None,None,None,None,8141.531472,368.841799,"POLYGON ((-71.16619 42.34045, -71.16618 42.340...",-71.166393,42.340535
182056,2205669000,NaN,2205669000,2193,COMMONWEALTH AV,NaN,BRIGHTON,02135,1,1,...,{21532CC7-7CFE-4250-B8E2-ED12C982B234},None,None,None,None,13927.091897,471.709357,"POLYGON ((-71.16666 42.34011, -71.16629 42.340...",-71.166450,42.340286
182057,2205670000,NaN,2205670000,2203,COMMONWEALTH AV,NaN,BRIGHTON,02135,1,1,...,{12032914-AB3E-48BF-A803-D6ECAC919E35},None,None,None,None,33701.407978,1007.820844,"POLYGON ((-71.16669 42.34010, -71.16666 42.340...",-71.166974,42.340771

In [38]:
output_df = merged_df[['GIS_ID', 'ST_NUM', 'ST_NAME', 'UNIT_NUM', 'CITY', 'ZIP_CODE', 'LU', 'BLDG_TYPE', 'OWN_OCC', 'TOTAL_VALUE', 'YR_BUILT', 'lon', 'lat']]
output_df

,GIS_ID,ST_NUM,ST_NAME,UNIT_NUM,CITY,ZIP_CODE,LU,BLDG_TYPE,OWN_OCC,TOTAL_VALUE,YR_BUILT,lon,lat
0,0100001000,104,PUTNAM ST,NaN,EAST BOSTON,02128,R3,RE - Row End,Y,"792,000",1900,-71.032588,42.379394
1,0100002000,197,Lexington ST,NaN,EAST BOSTON,02128,R3,RM - Row Middle,N,"818,200",1920,-71.032522,42.379421
2,0100003000,199,Lexington ST,NaN,EAST BOSTON,02128,R3,RM - Row Middle,Y,"804,400",1905,-71.032456,42.379445
3,0100004000,201,Lexington ST,NaN,EAST BOSTON,02128,R3,RM - Row Middle,N,"735,300",1900,-71.032391,42.379471
4,0100005000,203,Lexington ST,NaN,EAST BOSTON,02128,R2,RE - Row End,Y,"731,600",1900,-71.032283,42.379438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
182053,2205666000,NaN,KNOWLES ST,NaN,BRIGHTON,02135,E,99 - Vacant,N,"240,500",NaN,-71.166620,42.340884
182054,2205667000,NaN,Lake ST,NaN,BRIGHTON,02135,RL - RL,99 - Vacant,N,"72,800",NaN,-71.166669,42.340527
182055,2205668000,4,Lake ST,NaN,BRIGHTON,02135,R3,CV - Conventional,N,"1,314,900",1920,-71.166393,42.340535
182056,2205669000,2193,COMMONWEALTH AV,NaN,BRIGHTON,02135,C,319 - STRIP RETAIL/ OFFICE,N,"2,459,200",1947,-71.166450,42.340286
182057,2205670000,2203,COMMONWEALTH AV,NaN,BRIGHTON,02135,E,973 - ADMINISTRATIVE BLDG,N,"3,489,000",1900,-71.166974,42.340771

In [39]:
output_df = output_df[output_df['LU'].isin({'A', 'CD', 'R1', 'R2', 'R3', 'R4'})]
output_df = output_df.dropna(subset=['TOTAL_VALUE', 'YR_BUILT'])
output_df

,GIS_ID,ST_NUM,ST_NAME,UNIT_NUM,CITY,ZIP_CODE,LU,BLDG_TYPE,OWN_OCC,TOTAL_VALUE,YR_BUILT,lon,lat
0,0100001000,104,PUTNAM ST,NaN,EAST BOSTON,02128,R3,RE - Row End,Y,"792,000",1900,-71.032588,42.379394
1,0100002000,197,Lexington ST,NaN,EAST BOSTON,02128,R3,RM - Row Middle,N,"818,200",1920,-71.032522,42.379421
2,0100003000,199,Lexington ST,NaN,EAST BOSTON,02128,R3,RM - Row Middle,Y,"804,400",1905,-71.032456,42.379445
3,0100004000,201,Lexington ST,NaN,EAST BOSTON,02128,R3,RM - Row Middle,N,"735,300",1900,-71.032391,42.379471
4,0100005000,203,Lexington ST,NaN,EAST BOSTON,02128,R2,RE - Row End,Y,"731,600",1900,-71.032283,42.379438
...,...,...,...,...,...,...,...,...,...,...,...,...,...
182048,2205663001,20,Lake ST,NaN,BRIGHTON,02135,R1,SD - Semi-Det,Y,"922,900",1920,-71.166317,42.341077
182049,2205664000,18,Lake ST,NaN,BRIGHTON,02135,R2,CV - Conventional,Y,"1,115,300",1920,-71.166342,42.340946
182051,2205665000,14,Lake ST,2,BRIGHTON,02135,CD,FS - Free Standing,N,"545,100",1920,-71.166342,42.340797
182052,2205665000,12,Lake ST,1,BRIGHTON,02135,CD,FS - Free Standing,N,"494,800",1920,-71.166342,42.340797
182055,2205668000,4,Lake ST,NaN,BRIGHTON,02135,R3,CV - Conventional,N,"1,314,900",1920,-71.166393,42.340535

In [48]:
output_df['TOTAL_VALUE'] = [a.replace(',', '') for a in output_df['TOTAL_VALUE']]
# output_df['TOTAL_VALUE'] = output_df['TOTAL_VALUE'].astype(int)
output_df.to_csv('../assess_lat_long.csv')